<footer id="footer">
    <div class="footer__social">
        <a href="https://www.linkedin.com/in/aleksandar-lakatos-91b6311a1/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/lsale98" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/98_aleksandar/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer__info">

        <p class="provide">API provided by <a href="https://www.freetogame.com/" target="_blank">FreeToGame.com</a></p>
        <p class="copy">&copy; 2021 Aleksandar Lakatoš, all rights reserved.</p>
    </div>

</footer>