<div id="navigation">
    <div id="navigation__display">
        <a routerLink="/">Free to play Games</a>
        <div class="btn" (click)="toggleMenu()">
            <img src="../../assets/menu.svg" alt="Menu Button">
        </div>
    </div>
    <div id="navigation__menu" [ngClass]="{'active': menuOpen}">
        <div class="general">
            <ul>
                <li>
                    <a routerLink="/" (click)="toggleMenu()">Home</a>
                </li>
                <li>
                    <a routerLink="/favorite" (click)="toggleMenu()">Favorite</a>
                </li>
            </ul>
        </div>
        <div class="genre" [ngClass]="{'active': genreMenuOpen}">
            <h3 (click)="toggleGenreMenu()"><i class="fas fa-chevron-down"></i>Genre</h3>
            <ul>
                <li>
                    <a href="#" (click)="toggleMenu()">All Genres</a>
                </li>
                <li *ngFor="let category of categories">
                    <a href="#" (click)="toggleMenu()">{{category.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>