$primary: #121212;
$secondary: #2A2A2A;
//****************************
$gray-text: #929496;
//****************************
$blue-color: #3a76bb;
$blue-color-10: #234a77;
$blue-color-60: #234a7760;
$secondary-60: #2a2a2a98;
$secondary-20: #575757;
$secondary-10: #464646;